/*
!.gitignore
!README.md
!ssrc.code-workspace
!local.code-workspace
!host.code-workspace
!wide.code-workspace
!project.code-workspace
!remote.code-workspace
!.use


local/*
!local
!local/.vscode

local_all/*
!local_all
!local_all/create_symlink.cmd

host/*
!host
!host/.vscode

wide/*
!wide
!wide/.vscode

ssrc/*
!ssrc
!ssrc/.gitkeep
