/*
!.gitignore
!README.md
!ssrc.code-workspace
!local.code-workspace
!host.code-workspace
!wide.code-workspace
!project.code-workspace
!.use


local/*
!local
!local/.vscode

host/*
!host
!host/.vscode

wide/*
!wide
!wide/.vscode

ssrc/*
!ssrc
!ssrc/.gitkeep
